<div
  data-section-id="{{ section.id }}"
  data-section-type="rich-text"
  class="
    rich-text
    section
    section--divider-{{ section.settings.divider_style }}
    background--{{ section.settings.content_background_color }}
  "
>
  <div class="rich-text__inner section-blocks animation--section-blocks">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'spacer' -%}
          {%- render 'spacer-block', space: block.settings.space -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Spacer",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [],
  "blocks": [
    {
      "type": "spacer",
      "name": "Spacer",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "Space Height",
          "min": 4,
          "max": 64,
          "step": 4,
          "unit": "px",
          "default": 12
        }
      ]
    }
  ]
}
{% endschema %}
