<div class="section spacer" style="margin: 0; height:{%- if section.settings.custom_height != blank -%}{{ section.settings.custom_height }}px;{% endif %}"><span></span></div>


{% schema %}
{
  "name": "Spacer",
  "class": "shopify-section--spacer",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
        "type": "range",
        "id": "custom_height",
        "label": "Custom Height",
        "min": 4,
        "max": 120,
        "step": 4,
        "unit": "px",
        "default": 12
    }
  ],
  "presets": [
    {
      "name": "Spacer",
      "settings": {}
    }
  ]
}
{% endschema %}