<div class="section spacer" style="margin: 0;{%- if section.settings.spacer_height != blank -%}height: {{ section.settings.spacer_height }};{% endif %}"><span></span></div>


{% schema %}
{
  "name": "Spacer",
  "class": "shopify-section--spacer",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "spacer_height",
      "label": "Spacer Height",
      "options": [
        {
          "value": "20px",
          "label": "Tiny"
        },
        {
          "value": "40px",
          "label": "Small"
        },
        {
          "value": "60px",
          "label": "Medium"
        },
        {
          "value": "80px",
          "label": "Large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Spacer",
      "settings": {}
    }
  ]
}
{% endschema %}